<% if !@myplet %>
<% else %>
  <%=
    render partial: 'myplaceonline/list', locals: {
        items: @usefulCategoryList
    }
  %>
  <% if @usefulItemsList.length > 0 %>
    <% if @usefulCategoryList.length > 0 %>
      <hr />
    <% end %>
    <%=
        render partial: 'myplaceonline/list', locals: {
          items: @usefulItemsList
        }
    %>
  <% elsif !@usefulItemsError.nil? %>
    <hr /><p><%= t("myplaceonline.myplaceonline_quick_category_displays.useful_items_error") %></p>
  <% end %>
<% end %>
