<%= render layout: "shared/model_index" do %>
  <%=
    render partial: 'myplaceonline/filter_select', locals: {
      filters: [
        {
          :name => :archived,
          :display => "myplaceonline.general.archived"
        }
      ]
    }
  %>
  <% content_for :footerlinks do %>
    <li><%= link_to t('myplaceonline.project_issues.project'), project_path(@parent), "data-icon" => "back" %></li>
  <% end %>
<% end %>
