language: ruby
sudo: false

# http://docs.travis-ci.com/user/ci-environment/#Ruby-%28aka-common%29-VM-images
rvm:
  - 2.2.5

before_script:
  - cp config/database.yml.travis config/database.yml

script: 
  - RAILS_ENV=test SKIP_LARGE_IMPORTS=true bundle exec rake db:drop db:create db:schema:load db:seed myp:reload_categories test
