<% if !@myplet %>
  <%= render layout: "shared/model_show" do %>
  <% end %>
<% else %>
  <% if !@trip.nil? %>
    <p><%= @trip.hotel.display %></p>
    <p><%= @trip.display %></p>
  <% end %>
<% end %>
