<% content_for :heading do -%><%= t('myplaceonline.periodic_payments.monthly_total') %><% end -%>
<h1><%= t('myplaceonline.periodic_payments.monthly_total') %></h1>
<p><%= Myp.number_to_currency(@total) + " " + Myp.get_select_name(0, Myp::PERIODS) %></p>