<p>
  <%= f.label :name, class: "ui-hidden-accessible" %>
  <%= f.text_field :name, placeholder: t("myplaceonline.movies.name"), class: "autofocus" %>
</p>

<p>
  <%= f.label :url, class: "ui-hidden-accessible" %>
  <%= f.text_field :url, placeholder: t("myplaceonline.movies.url") %>
</p>
