<%= render layout: "shared/model_edit", locals: {
  title: "myplaceonline.movies.title",
  header: @obj.name,
  form_name: "movies/form"
} do %>

  <li><%= link_to t('myplaceonline.movies.back'), movies_path, "data-icon" => "back" %></li>

<% end %>
