<%= render layout: "shared/model_index" do %>
  <% content_for :footerlinks do %>
    <li>
      <%= link_to(
            t('myplaceonline.graphs.graph'),
            graph_display_path(
              series_1_source: "Credit Scores",
              series_1_values: "score",
              series_1_xvalues: "score_date",
              hideform: "true"
            ), "data-icon" => "grid"
          )
      %>
    </li>
  <% end %>
<% end %>
