<%= render layout: "shared/model_index" do %>
  <% content_for :footerlinks do %>
    <li><%= link_to t('myplaceonline.contacts.contact'), contact_path(@parent), "data-icon" => "user" %></li>
  <% end %>
<% end %>
