<% content_for :heading do -%><%= t('myplaceonline.administration.title') %><% end -%>

<ul data-role="listview" data-inset="true">
  <li><%= link_to(t("myplaceonline.administration.users"), users_path) %></li>
</ul>
