<%= render layout: "shared/model_index" do %>
  <% content_for :footerlinks do %>
    <li><%= link_to(t("myplaceonline.calendar_item_reminders.calendar_item"), calendar_calendar_item_path(@parent.calendar, @parent), "data-icon" => "back") %></li>
  <% end %>
<% end %>
