<%= render layout: "shared/model_index" do %>
  <% content_for :footerlinks do %>
    <li><%= link_to t("myplaceonline.media_dumps.media_dump"), media_dump_path(@parent), "data-icon" => "back" %></li>
  <% end %>
<% end %>
