<%= render layout: "shared/model_index" do %>
  <%=
    render partial: 'myplaceonline/filter_select', locals: {
      items: @count,
      filters: [
        {
          :name => :defunct,
          :display => "myplaceonline.general.defunct"
        }
      ]
    }
  %>
  <% content_for :footerlinks do %>
    <li><%= link_to t('myplaceonline.credit_cards.list_cashbacks'), credit_cards_listcashback_path, "data-icon" => "bullets" %></li>
    <li><%= link_to t('myplaceonline.credit_cards.total_credit'), credit_cards_total_credit_path, "data-icon" => "info" %></li>
  <% end %>
<% end %>
