<% content_for :heading do -%><%= t('myplaceonline.credit_cards.total_credit') %><% end -%>
<h1><%= t('myplaceonline.credit_cards.total_credit') %></h1>
<p><%= Myp.number_to_currency(@total_credit) %></p>