<% if @obj.errors.any? %>
  <div class="errors">
    <ul>
    <% @obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form_container">
  <%= render partial: form_name, locals: { f: f, obj: @obj, edit: edit, autofocus: autofocus } %>
</div>
