<div id="myplaceonline_search_container">
  <ul id="myplaceonline_search_list" data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="<%= t("myplaceonline.search.search_categories") %>">
  </ul>
</div>

<script type="text/javascript">
onPageLoad(function() {
  var search = $("#myplaceonline_search_list");
  hookListviewSearch(search, "/api/categories.json");
  var list = <%= raw(initialCategoryList) %>;
  jqmSetList(search, list);
  var input = $("#myplaceonline_search_container input");
  hookListviewEnter(input, "#myplaceonline_search_list");
  maybeFocus(input);
});
</script>
