<%= render layout: "shared/model_index" do %>
  <div class="horizontal_center" data-role="collapsible">
    <h4><%= t("myplaceonline.general.filter") %></h4>
    <%= myp_select_tag(:program_type, "myplaceonline.reward_programs.program_type", Myp.translate_options(RewardProgram::REWARD_PROGRAM_TYPES), @program_type, false, nil, false, "refreshWithParam('program_type', $('#program_type').val())") %>
  </div>
<% end %>
