<%= render layout: "shared/model_index" do %>
  <% content_for :footerlinks do %>
    <li><%= link_to t('myplaceonline.calendar_items.calendar'), calendar_path(@parent), "data-icon" => "back" %></li>
  <% end %>
<% end %>
