<% content_for :heading do -%><%= t('myplaceonline.test.title') %><% end -%>
<h1><%= t('myplaceonline.test.title') %></h1>
<p><%= t('myplaceonline.test.name') %></p>
<p><%= image_tag("screenshot1.png") %></p>