<%= f.fields_for :ref, @obj.ref do |identity_fields| %>
  <p>
    <%= identity_fields.label :name, class: "ui-hidden-accessible" %>
    <%= identity_fields.text_field :name, placeholder: t("myplaceonline.contacts.name"), class: "autofocus" %>
  </p>
<% end %>
