<%= render layout: "shared/model_edit", locals: {
  title: "myplaceonline.contacts.title",
  header: @obj.name,
  form_name: "contacts/form"
} do %>

  <li><%= link_to t('myplaceonline.contacts.back'), contacts_path, "data-icon" => "back" %></li>

<% end %>
