<%= render layout: "shared/model_index" do %>
  <div class="horizontal_center" data-role="collapsible">
    <h4><%= t("myplaceonline.general.filter") %></h4>
    <%= myp_select_tag(:contact_type, "myplaceonline.contacts.contact_type", Myp.translate_options(Contact::CONTACT_TYPES), @contact_type, false, nil, false, "myplaceonline.refreshWithParam('contact_type', $('#contact_type').val())") %>
    <%= myp_check_box_tag(:archived, "myplaceonline.general.archived", @archived, false, nil, "myplaceonline.refreshWithParam('archived', this.checked)") %>
  </div>
<% end %>
