<%= render layout: "shared/model_index" do %>
  <% content_for :footerlinks do %>
    <li><%= link_to t('myplaceonline.feed_items.feed'), feed_path(@parent), "data-icon" => "back" %></li>
  <% end %>
<% end %>
