default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  database: myplaceonline_<%= Rails.env %>
  host: localhost
  username: myplaceonline
  password: DBPASSWORD

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
