<% content_for :heading do -%><%= t('myplaceonline.general.import') %><% end -%>
<h1><%= t('myplaceonline.general.import') %></h1>
<ul data-role="listview" data-inset="true">
  <li><%= link_to t("myplaceonline.general.odfspreadsheet"), passwords_import_odf_path %></li>
</ul>
