<%= render layout: "shared/model_index" do %>
  <% content_for :footerlinks do %>
    <li><%= link_to t('myplaceonline.general.import'), passwords_import_path, "data-icon" => "bars" %></li>
  <% end %>
<% end %>
