<%= render layout: "shared/model_new", locals: {
  title: "myplaceonline.todos.title",
  header: "myplaceonline.todos.title_add",
  form_name: "to_dos/form"
} do %>

  <li><%= link_to t('myplaceonline.todos.back'), to_dos_path, "data-icon" => "back" %></li>

<% end %>
