<% content_for :heading do -%><%= t('myplaceonline.siteTitle') %><% end -%>
<div id="emberContainer"></div>
<script type="text/x-handlebars" data-template-name="application">
  Hello World {{test}}
</script>

<script type="text/javascript">
onPageLoad(function() {
  if (window.localStorage) {
    var snapshot = getMyplaceonlineSnapshot();
    if (snapshot) {
      window.App = Ember.Application.create({
        rootElement: '#emberContainer',
        LOG_TRANSITIONS: true
      });
      
      App.Router.reopen({
        rootURL: '/offline/'
      });
      
      App.ApplicationRoute = Ember.Route.extend({
        setupController: function(controller) {
          var m = this.get('model')();
          controller.set("test", m.time);
        },
        model: function() {
          return getMyplaceonlineSnapshot();
        }
      });
      
      App.ApplicationController = Ember.Controller.extend({
      });

      App.Router.map(function() {
      });
    }
  }
});
</script>
