<% content_for :heading do -%><%= t('myplaceonline.siteTitle') %><% end -%>
<div id="emberContainer"></div>
<script type="text/x-handlebars" data-template-name="application">
  <ul data-role="listview" data-inset="true">
  {{#each category in categories}}
    <li>{{category.title}}</li>
  {{/each}}
  </ul>
</script>

<script type="text/javascript">
onPageLoad(function() {
  if (window.localStorage) {
    window.appsnapshot = getMyplaceonlineSnapshot();
    if (window.appsnapshot) {
      window.App = Ember.Application.create({
        rootElement: '#emberContainer'
      });
      
      App.Router.reopen({
        rootURL: '/offline/'
      });
      
      App.ApplicationRoute = Ember.Route.extend({
        setupController: function(controller) {
          var model = this.get('model')();
          var categories = [];
          $.each(model.categories, function(i, x) {
            if (x.parent_id && x.parent_id > 0) {
              categories.push(x);
            }
          });
          controller.set("model", model);
          controller.set("categories", categories);
        },
        model: function() {
          return window.appsnapshot;
        }
      });
      
      App.ApplicationController = Ember.Controller.extend({
      });
      
      App.ApplicationView = Ember.View.extend({
        didInsertElement : function() {
          ensureStyledPage();
        }
      });

      App.Router.map(function() {
      });
    }
  }
});
</script>
