<% content_for :heading do -%><%= t('myplaceonline.siteTitle') %><% end -%>
<div id="emberContainer"></div>

<script type="text/x-handlebars">
  {{outlet}}
</script>

<script type="text/x-handlebars" data-template-name="index">
  <ul data-role="listview" data-inset="true">
  {{#each category in categories}}
    <li>{{#link-to category.link}}{{category.title}} <span class="ui-li-count">{{category.count}}</span>{{/link-to}}</li>
  {{/each}}
  </ul>
</script>

<script type="text/x-handlebars" data-template-name="passwords">
  Hello World
</script>

<script type="text/javascript">
onPageLoad(function() {
  if (window.localStorage) {
    window.appsnapshot = getMyplaceonlineSnapshot();
    if (window.appsnapshot) {
      window.App = Ember.Application.create({
        rootElement: '#emberContainer',
        LOG_TRANSITIONS: true,
        ready: function() {
          $.mobile.window.unbind({ 
            "popstate.history": $.proxy( this.popstate, this ),
            "hashchange.history": $.proxy( this.hashchange, this )
          });
          $.mobile.changePage = function() {};
          $.mobile.ajaxEnabled = false;
          $.mobile.pushStateEnabled = false;
          $.mobile.linkBindingEnabled = false;
          $.mobile.hashListeningEnabled = false;
        }
      });
      
      App.Router.reopen({
        rootURL: '/offline/'
      });
      
      App.IndexRoute = Ember.Route.extend({
        setupController: function(controller) {
          var model = this.get('model')();
          var categories = [];
          $.each(model.categories, function(i, x) {
            if (x.parent_id > 0) {
              categories.push(x);
            }
          });
          controller.set("model", model);
          controller.set("categories", categories);
        },
        model: function() {
          return window.appsnapshot;
        }
      });
      
      App.IndexView = Ember.View.extend({
        didInsertElement : function() {
          ensureStyledPage();
        }
      });

      App.Router.map(function() {
        this.resource('passwords', { path: '/passwords' }, function() {
        });
      });
    }
  }
});
</script>
