<% content_for :heading do -%><%= t('myplaceonline.siteTitle') %><% end -%>
<div id="emberContainer"></div>
<script type="text/x-handlebars" data-template-name="application">
  Hello World {{model.time}}
  
  <ul>
  {{#each category in model.categories}}
    <li>{{category.title}}</li>
  {{/each}}
  </ul>
</script>

<script type="text/javascript">
onPageLoad(function() {
  if (window.localStorage) {
    window.appsnapshot = getMyplaceonlineSnapshot();
    if (window.appsnapshot) {
      window.App = Ember.Application.create({
        rootElement: '#emberContainer'
      });
      
      App.Router.reopen({
        rootURL: '/offline/'
      });
      
      App.ApplicationRoute = Ember.Route.extend({
        setupController: function(controller) {
          controller.set("model", this.get('model')());
        },
        model: function() {
          return window.appsnapshot;
        }
      });
      
      App.ApplicationController = Ember.Controller.extend({
      });

      App.Router.map(function() {
      });
    }
  }
});
</script>
