<p>
  <%= f.label :name, class: "ui-hidden-accessible" %>
  <%= f.text_field :name, placeholder: t("myplaceonline.wisdoms.name"), class: "autofocus" %>
</p>

<p>
  <%= f.label :wisdom, class: "ui-hidden-accessible" %>
  <%= myp_text_area(f, :wisdom, "myplaceonline.wisdoms.wisdom_edit") %>
</p>
