<p>
  <%= f.label :name, class: "ui-hidden-accessible" %>
  <%= f.text_field :name, placeholder: t("myplaceonline.wisdoms.name"), class: "autofocus" %>
</p>

<p>
  <%= f.label :wisdom, class: "ui-hidden-accessible" %>
  <%= f.text_area :wisdom, placeholder: t("myplaceonline.wisdoms.wisdom") %>
</p>
