<%= myp_text_field f, :name, "myplaceonline.calculation_forms.name", obj.name, autofocus %>
<div data-role="collapsible" data-collapsed="false">
  <h3>Formula</h3>
  <%= f.fields_for :root_element, obj.root_element do |element_form| %>
    <%=
      render partial: 'calculation_forms/element_form', locals: {
        f: element_form,
        element: obj.root_element
      }
    %>
  <% end %>
</div>
