/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery.mobile
 *= require jqm-datebox-1.4.5.min
 *= require welcome
 *= require magnific-popup
 */

a.headerlink:link, a.headerlink:visited, a.headerlink:hover, a.headerlink:active {
  text-decoration: none;
}

a.headerlink:hover {
  text-decoration: underline;
}

.ui-content h1 {
  margin-top: 0;
}

.errors {
  color: red;
}

div.ui-checkbox + label {
  display: none;
}

.tablestripes thead th,
.tablestripes tbody tr:last-child {
  border-bottom: 1px solid #d6d6d6; /* non-RGBA fallback */
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.tablestripes tbody th,
.tablestripes tbody td {
  border-bottom: 1px solid #e6e6e6; /* non-RGBA fallback  */
  border-bottom: 1px solid rgba(0,0,0,.05);
}

.tablestripes tbody tr:last-child th,
.tablestripes tbody tr:last-child td {
  border-bottom: 0;
}

.tablestripes tbody tr:nth-child(odd) td,
.tablestripes tbody tr:nth-child(odd) th {
  background-color: #eeeeee; /* non-RGBA fallback  */
  background-color: rgba(0,0,0,.04);
}

.normalwidth {
  width: inherit !important;
}

.firstcolumnbold tbody tr td:first-child {
  font-weight: bold;
}

.noheadertable thead tr th {
  margin: 0;
  padding: 0;
}

@media (max-width: 35em) {
  .noheadertable th {
    margin-top: 12px; /* optional spacing during reflow */
  }
}

.nomargin {
  margin: 0 !important;
}

.itemwrapper {
  padding: 5px;
  margin: 5px;
  border: 1px solid #D3D3D3;
}

.bghighlight {
  background-color: #ADFF2F;
}

.markdowncell > p:first-child {
  margin-top: 0;
}

.markdowncell > p:last-child {
  margin-bottom: 0;
}

.horizontal_center {
  text-align: center;
}

.form_field_label {
  font-weight: bold !important;
}

.small {
  font-size: small;
}

/**
 * JQM defaults to 30% left/right margins. On small screens like phones
 * this can cause the title to go to ellipses sooner than it needs to.
 */
.ui-header .ui-title {
  margin: 0px 15% !important;
}

/* Based on http://stackoverflow.com/a/2610741/4135310 */
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
   opacity:  1;
}

.hiding {
  font-style: italic;
}

#mainButtonPopup {
  width: 400px;
  max-height: 400px;
  padding: 10px;
  overflow: auto;
}

.myplet_border > li > ul {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.help_image {
  border: 1px solid gray;
}

.progress_fieldset {
  padding: 10px 30px 10px 10px !important;
  border-width: 1px !important;
  margin: 10px !important;
}

.width100 {
  width: 100% !important;
}
