<p>Welcome <%= @email %> to <%= Myp.website_domain.domain_name %>!</p>

<p>Please confirm your email using the link below:</p>

<p><%= link_to("Confirm #{Myp.website_domain.domain_name} account", confirmation_url(@resource, confirmation_token: @token)) %></p>

--
<%= Myp.website_domain.domain_name %>
