<%= render layout: "shared/model_index" do %>
  <% content_for :footerlinks do %>
    <li><%= link_to t('myplaceonline.random.activity'), random_activity_path(:filter_activities => "1"), "data-icon" => "search" %></li>
  <% end %>
<% end %>
