<% if @count_all > 0 %>
  <div class="horizontal_center" data-role="collapsible">
    <h4><%= t("myplaceonline.general.filter") %></h4>
    <% filters.each do |filter| %>
      <%= myp_check_box_tag(filter[:name].to_sym, filter[:display], controller.instance_variable_get("@" + filter[:name].to_s), false, nil, "myplaceonline.refreshWithParam('" + filter[:name].to_s + "', this.checked)") %>
    <% end %>
  </div>
<% end %>
