<div class="subregionwrapper">
  <%
  regionstr ||= params[:regionstr]
  regionstr ||= default_region
  subregion ||= nil
  region = Carmen::Country.coded(regionstr)
  
  if defined?(f)
    subregion_select_field = myp_subregion_select_field(f, :sub_region1, "myplaceonline.general.sub_region1", region, subregion)
    subregion_text_field = myp_text_field(f, :sub_region1, "myplaceonline.general.sub_region1", subregion)
  else
    name = params[:name]
    if !name.blank?
      i = name.rindex('[')
      if !i.nil?
        name = name[0..i-1]
      end
      fields_for name do |f|
        subregion_select_field = myp_subregion_select_field(f, :sub_region1, "myplaceonline.general.sub_region1", region, subregion)
        subregion_text_field = myp_text_field(f, :sub_region1, "myplaceonline.general.sub_region1", subregion)
      end
    else
      form_for Location.new do |f|
        subregion_select_field = myp_subregion_select_field(f, :sub_region1, "myplaceonline.general.sub_region1", region, subregion)
        subregion_text_field = myp_text_field(f, :sub_region1, "myplaceonline.general.sub_region1", subregion)
      end
    end
  end
  %>

  <% if region.nil? %>
    <p><em><%= t("myplaceonline.general.select_region") %></em></p>
  <% elsif region.subregions? %>
    <%= subregion_select_field %>
  <% else %>
    <%= subregion_text_field %>
  <% end %>
</div>
