<%= render layout: "shared/model_index" do %>
  <% content_for :abovelist do %>
    <% if !@message.blank? %>
      <div class="errors">
        <ul><li><%= @message %></li></ul>
      </div>
    <% end %>
  <% end %>
<% end %>
