<% content_for :heading do -%><%= t('myplaceonline.info.about') %><% end -%>

<p><%= t("myplaceonline.welcome.intro_html", :opensourcelink => link_to(t("myplaceonline.welcome.opensourcelink"), "https://github.com/myplaceonline/myplaceonline", class: "externallink")) %></p>

<%= raw(Myp.welcome_features) %>
