<% content_for :heading do -%><%= t('myplaceonline.info.diagnostics') %><% end -%>

<ul data-role="listview" data-inset="true">
  <li><a href="#" onclick="myplaceonline.setDebug(true); myplaceonline.alertHTML(); return false;">Show HTML</a></li>
  <li><a href="#" onclick="myplaceonline.setDebug(true); myplaceonline.consoleDir($.mobile.path.documentUrl); myplaceonline.showDebugConsole(); return false;">Debug</a></li>
  <li><a href="#" onclick="myplaceonline.createSuccessNotification('Test'); return false;">Test Noty</a></li>
</ul>
