<% content_for :heading do -%><%= t('myplaceonline.info.title') %><% end -%>

<p><b><%= t("myplaceonline.email") %></b>: <%= mail_to(t("myplaceonline.siteEmail")) %></p>

<p><b><%= t('myplaceonline.info.apk') %></b>: <a href="https://build.phonegap.com/apps/1133885/download/android/">https://build.phonegap.com/apps/1133885/download/android/</a></p>

<hr />

<p><a href="#" class="ui-btn" onclick="myp.debug=true; alertHTML(); return false;">Show HTML</a></p>

<p><a href="#" class="ui-btn" onclick="myp.debug=true; consoleDir($.mobile.path); return false;">Debug</a></p>
