<% content_for :heading do -%><%= t("myplaceonline.info.jqm.title") %><% end -%>

<h1><%= t("myplaceonline.info.jqm.title") %></h1>

<% content_for :footer do -%>
  <%=
    render(partial: "shared/footer", locals: {
      items: [
        {
          title: t("myplaceonline.menu.home"),
          link: root_path,
          icon: "home"
        },
        {
          title: t("myplaceonline.menu.home"),
          link: root_path,
          icon: "home"
        }
      ]
    })
  %>
<% end -%>
