<% if @myplet.border_type == 1 && !@nocontent %>
  <ul data-role="listview" data-inset="true" class="myplet_border" style="padding: 5px;">
    <li data-role="list-divider" class="myplet_border_title">
      <div>
        <table border="0" cellspacing="0" cellpadding="0" style="width: 100%">
          <tr>
            <td class="myplet_border_title_content hidden_link"><%= controller.myplet_title %></td>
            <td align="right">
              <% if false %>
                <%= link_to(edit_myplet_path(@myplet)) do %>
                  <%= image_tag("famfamfam/cog.png", alt: t("myplaceonline.myplets.settings"), title: t("myplaceonline.myplets.settings"), height: 16, width: 16) %>
                <% end %>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </li>
    <li class="myplet_content">
<% end %>

<%= yield %>

<% if @myplet.border_type == 1 && !@nocontent %>
    </li>
  </ul>
<% end %>
